nav-container{
    background: var(--surface);
    padding: 1.25rem 2rem;
    border-radius: 1.25rem;
    backdrop-filter: blur(16px);
    border: 1px solid rgb(37, 44, 49);
    background-color: rgb(60, 70, 79);
}
